# .github/workflows/enable-automerge.yml
name: enable-automerge
on:
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]

jobs:
  enable:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: reitermarkus/automerge@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
